<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soargtechnologies.myscope">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.medical_documents.MedicalDoc_Other"></activity>
        <activity android:name=".activities.medical_documents.MedicalDoc_Education" />
        <activity android:name=".activities.medical_documents.MedicalDoc_Diet" />
        <activity android:name=".activities.medical_documents.MedicalDoc_Health" />
        <activity android:name=".activities.medical_documents.MedicalDoc_Immun" />
        <activity android:name=".activities.medical_documents.MedicalDoc_Dental" />
        <activity android:name=".activities.medical_documents.MedicalDoc_Discharge" />
        <activity android:name=".activities.self_monitering.Blood_Pressure" />
        <activity android:name=".activities.self_monitering.Emotional_state_Update" />
        <activity android:name=".activities.self_monitering.Emotional_state_recyclerView" /> <!-- <activity android:name=".activities.self_monitering.BloodPressureActivity"></activity> -->
        <activity
            android:name=".activities.Contact_us.Contact_us"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/NoActionBar"></activity>

        <activity android:name=".activities.Contact_us.JavaMailAPI" />


        <!-- <activity android:name=".activities.self_monitering.BloodPressureActivity"></activity> -->
        <activity android:name=".activities.self_monitering.Bmi_recyclerView" />
        <activity android:name=".activities.self_monitering.BmiUpdate" />
        <activity android:name=".activities.self_monitering.Cholestrol_recyclerView" />
        <activity android:name=".activities.self_monitering.CholestrolUpdate" />
        <activity android:name=".activities.self_monitering.Blood_pressureUpdate" />
        <activity android:name=".activities.self_monitering.Blood_Pressure_recyclerView" />
        <activity android:name=".activities.self_monitering.Blood_GlucoseUpdate" />
        <activity android:name=".activities.self_monitering.Blood_Glucose_recyclerView" />
        <activity android:name=".activities.self_monitering.Self_Monitering_Home_Page" />
<!--        <activity android:name=".activities.Contact_Us" /> &lt;!&ndash; <activity android:name=".activities.medical_history.AdverseDrugReaction_RecyclerView"></activity> &ndash;&gt;-->
        <activity android:name=".activities.medical_history.Adverse_Drug_Reaction_Update" />
        <activity android:name=".activities.prescription.Prescription_AddImage_PDF" />
        <activity android:name=".activities.ComingSoon_Activity" />
        <activity android:name=".activities.Register_User" /> <!-- <activity android:name=".activities.Facebook_Activity" /> -->
        <activity
            android:name=".activities.SliderActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.Login_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignUp_Page"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- <activity -->
        <activity android:name=".activities.Navigation_Drawer_Blogs" />
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" /> -->
        <activity
            android:name=".activities.Otp_Page"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.MobileChange_Activity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.Full_Image_Activity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.View_UserDetails_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.Dash_Board_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.AdverseDrugReaction_RecyclerView"
            android:screenOrientation="portrait" />
<!--        <activity-->
<!--            android:name=".activities.Navigation_Drawer_Blogs"-->
<!--            android:screenOrientation="portrait" />-->
        <activity
            android:name=".activities.medical_history.Medical_History_HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.Disease_recyclerView"

            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.Disease_History"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.medical_history.DiseaseHistoryUpdate" />
        <activity
            android:name=".activities.medical_history.FamilyHistoryRecyclerView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.Family_History"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.medical_history.FamilyHistoryUpdated" />
        <activity android:name=".activities.medical_history.Social_History" />
        <activity
            android:name=".activities.medical_history.Diet"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.medical_history.AllergyItemListActivity" />
        <activity
            android:name=".activities.medical_history.Allergies"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.AllergyUpdate_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.ImmunizationItemListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.ImmunizationHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.ImmunizationUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.MedicationItemListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.MedicationHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.MedicationUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.SurgeryHistory_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.SurgeryItemListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.SurgeryUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.medical_history.Adverse_Drug_Reaction_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.prescription.Prescriptions_HomePage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.prescription.PrescriptionDrugListUpdate" />
        <activity android:name=".activities.prescription.Prescription_ManualDoctorDialog" />
        <activity android:name=".activities.prescription.Prescription_manualDrugDialog" />
        <activity android:name=".activities.prescription.PDFopenfile" />
        <activity android:name=".activities.Educational_Blog_Activity" />
        <activity android:name=".activities.labReports.Lab_BloodAddImage_PDF"></activity>
        <activity android:name=".activities.labReports.Lab_ColonoScopyAddImage_PDF"></activity>
        <activity android:name=".activities.labReports.Lab_CtScanAddImage_PDF"></activity>

        <activity android:name=".activities.labReports.Lab_EcgAddImage_PDF"></activity>

        <activity android:name=".activities.labReports.Lab_EcoAddImage_PDF"></activity>
        <activity android:name=".activities.labReports.Lab_MriAddImage_PDF"></activity>
        <activity android:name=".activities.labReports.Lab_OtherAddImage_PDF"></activity>
        <activity android:name=".activities.labReports.Lab_UrineAddImage_PDF"></activity>
        <activity android:name=".activities.labReports.Lab_Reports_Homepage"></activity>
        <activity android:name=".activities.labReports.Lab_StressAddImage_PDF"></activity>
        <activity android:name=".activities.labReports.Lab_UltraSoundAddImage_PDF"></activity>

        <activity android:name=".activities.labReports.Lab_XrayAddImage_PDF"></activity>


        <activity android:name=".activities.medical_documents.Medical_Documents_HomePage" />
        <activity android:name=".activities.medical_history.health_services.Services_medical_history" />
        <activity android:name=".activities.medical_history.health_services.Adverse_Drug_Event_Monitoring" />
        <activity android:name=".activities.medical_history.health_services.Patient_counseling" />
        <activity android:name=".activities.medical_history.health_services.Post_discharge_Care_Package" />
        <activity android:name=".activities.medical_history.health_services.Prescription_Audit" />
        <activity android:name=".activities.medical_history.health_services.Drug_interaction" />
        <activity android:name=".activities.self_monitering.Blood_glucose_Monitoring" />
        <activity android:name=".activities.self_monitering.Bmi_self" />
        <activity android:name=".activities.self_monitering.Cholesterol" />
        <activity android:name=".activities.self_monitering.Emotional_state" />
        <activity android:name=".activities.self_monitering.Exercise_tracker" />
<!--         <activity android:name=".activities.Educational_Blog_Activity" /> -->
        <activity android:name=".activities.Covid_19_Resourses_Activity" />
        <activity android:name=".activities.Covid19_Tracker_WebActivity" />
        <activity android:name=".activities.Map_Covid19_WebActivity" />
        <activity android:name=".activities.Willey_Library_Covid19_WebActivity" />
        <activity android:name=".activities.CDC_Centers_Covid19_WebActivity" />
        <activity android:name=".activities.Newzeland_Medicine_Covid19_WebActivity" />
        <activity android:name=".activities.Jama_Network_Covid19_WebActivity" />
        <activity android:name=".activities.Lancet_Covid19_WebActivity" />
        <activity android:name=".activities.Cell_Covid19_WebActivity" />
        <activity android:name=".activities.Medical_Journey_Covid19_WebActivity" />
        <activity android:name=".activities.Science_Covid19_WebActivity" />
        <activity android:name=".activities.Elsevier_Network_Covid19_WebActivity" />
        <activity android:name=".activities.Oxward_Acadamic_Covid19_WebActivity" />
        <activity android:name=".activities.Nature_Covid19_WebActivity" />
<!--        <activity android:name=".activities.Full_Image_Activity" />-->
        <activity android:name=".activities.Guidelines_Activity" />
        <activity android:name=".activities.Courses_Training_Activity" />
        <activity android:name=".activities.News_Updates_Activity" />
        <activity android:name=".activities.Covid_19_Update_Activity" />
        <activity android:name=".activities.Covid_19_Guidelines_HomeQuarantine" />
        <activity android:name=".activities.Covid_19_IFMSA_Library_Overview_Converted" />
        <activity android:name=".activities.Covid_19_Who_China_Joint_Mission_Final_Reported_Activity" />
        <activity android:name=".activities.Facebook_Activity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>