<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myscope">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activities.prescription.Prescriptionmanual_recyclerview"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.medical_history.AllergyItemListActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignUp_Page"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.Login_Page"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.Otp_Page"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.MobileChange_Activity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Navigation_Drawer_Blogs"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.View_UserDetails_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Dash_Board_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.medical_history.Medical_History_HomePage"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.medical_history.Medical_History"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.medical_history.Family_History"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.medical_history.Social_History"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.medical_history.Diet"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.prescription.Prescriptions_HomePage"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.medical_history.Allergies"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.medical_history.ImmunizationHistory"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.medical_history.MedicationHistory"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.medical_history.SurgeryHistory"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.medical_history.Adverse_Drug_Reaction_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ImageUpload"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.prescription.Prescription_manual"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.medical_history.AllergyUpdate_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Medical_Documents_HomePage"
            android:screenOrientation="portrait"/>

    </application>

</manifest>